$dark-blue: #202125;

.partners {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 100px;
}
.partners ul {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $dark-blue;
  padding: 20px;
  border-radius: 20px;
}
.partners ul li {
  width: 25%;
}