$dark-blue: #202125;
$dark-salt: #191d1c;
$grayish-blue: #434343;
$white: #ffffff;
$soft-blue: #8ab4f8;
$soft-blue2: #5383ed;
$silver: rgba(255, 255, 255, .5);
$soft-yellow: #f7d775;
$bright-orange: #edae3b;
$moderate-orange2: rgb(186, 138, 76, .4);
$bright-red: #FE2E2E;
$lime-green: #4fa19d;

.wrapper {
  max-width: 1200px;
  font-family: "Inter", sans-serif;
  margin: 0 auto;
}
.tabPanel {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  background-image: radial-gradient(circle at center center, rgb(225, 137, 68),rgb(101, 40, 15));
  margin: 0 auto 1em;
  border-radius: 10px;
  color: $dark-salt;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  padding: 10px;
  gap: 10px;
}
.tabContent {
  padding: 30px;
  line-height: 1.2;
  background-image: radial-gradient(circle at center center, rgb(225, 137, 68),rgb(101, 40, 15));
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  .allPhoto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    li {
      max-width: 300px;
      max-height: 300px;
      width: 100%;
      height: 100%;
      img {
        border-radius: 20px;
        box-shadow: 0 5px 5px 1px rgba(255, 255, 255, 0.5);
      }
    }

  }
}
.tab {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.6em 0.3em;
  transition: 0.3s linear;
}
.tab:hover {
  color: $dark-salt;
  background-image: radial-gradient(circle at top center, rgb(243, 243, 243),rgb(133, 133, 133));
  border-radius: 10px;
}
.react-tabs__tab--selected {
  background-image: radial-gradient(circle at bottom center, rgb(30, 227, 217),rgb(4, 89, 247));
  color: $dark-salt;
  border-radius: 10px;
}
@media screen and (max-width: 550px) {
  .wrapper {
    .tabPanel {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      .tab {
        margin-bottom: 10px;
        text-align: center;
        justify-content: center;
      }
    }
  }
}