$white: #ffffff;
$bright-orange: #edae3b;
$dark-blue: #202125;
$dark-salt: #191d1c;

.block {
  padding-top: 150px;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto 30px;
  text-align: center;
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 58px;
  }

}
.description {
  width: 90%;
  max-width: 1000px;
  margin: 10px auto 50px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  p {
    font-family: "Lobster", cursive;
    letter-spacing: 2px;
    font-size: 22px;
  }
}
.countdownBlock {
  margin-bottom: 60px;
}
.video {
  max-width: 1000px;
  margin: 0 auto 100px;
  video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    max-height: 400px;
  }
}
.transition {
  width: 70%;
  margin: 70px auto 70px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  background: $dark-salt;
  border-radius: 20px;
  a {
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    color: white;
  }
}
.transition:before,
.transition:after{
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(45deg,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000,#fb0094,#0000ff,#00ff00,#ffff00,#ff0000);
  background-size: 400% 400%;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  border-radius: 20px;
  z-index: -1;
  animation: animate 5s ease alternate infinite;
}
.transition:after{
  filter: blur(20px);
}
@keyframes animate{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

@media screen and (max-width: 700px) {
  .description {
    margin-top: 80px;
    margin-bottom: 10px;
  }
  .video {
    margin-bottom: 10px;
  }
}

