$highlight-color: #BA8A4C;
$highlight-color-blur: rgb(186, 138, 76, .4);
$dark-salt: #191d1c;

.tabs {
  h2 {
    margin: 0 auto 80px;
    min-width: 320px;
    max-width: 700px;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 58px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    margin: 50px auto 50px;
    background: $highlight-color-blur;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    p {
      font-size: 20px;
      font-weight: 700;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
.tab-content {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    li {
      max-width: 300px;
      max-height: 300px;
      width: 100%;
      height: 100%;
      img {
        border-radius: 20px;
      }
    }
  }
}
 .is-active {
   background: $dark-salt;
   padding: 7px;
   border-radius: 10px;
 }

@media screen and (max-width: 550px) {
  .tabs ul {
    display: flex;
    flex-direction: column;
    li {
      width: 90%;
      margin-bottom: 10px;
      text-align: center;
    }
  }
}