$bright-orange: #edae3b;

.block {
  padding-top: 20vh;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20vh;
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 58px;
    margin-bottom: 5vh;
  }
  .explanation {
    display: block;
    color: $bright-orange;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10vh;
    line-height: 35px;
  }
  .cardmaster {
    display: flex;
    flex-wrap: wrap;
    gap: 4vw;
    align-items: center;
    justify-content: center;
  }
  .description {
    max-width: 70vw;
    margin: 20vh auto 0;
    font-size: 20px;
    line-height: 44px;

  }
}

