$very-dark-blue: #202125;
$white: #ffffff;
$bright-orange: #edae3b;
$bright-red: #FE2E2E;
$soft-blue2: #5383ed;
$moderate-orange2: rgb(186, 138, 76, .4);

.block {
  padding-top: 20vh;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20vh;
  h2 {
    text-align: center;
    font-weight: 700;
    font-size: 58px;
    margin-bottom: 5vh;
  }
  .explanation {
    display: block;
    color: $bright-orange;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10vh;
  }
  .cardmaster {
    display: flex;
    flex-wrap: wrap;
    gap: 10vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
  }
  .description {
    max-width: 70vw;
    margin: 0 auto;
    font-size: 20px;
    line-height: 44px;
  }
}
.frame {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  position: relative;
  opacity: 0;
  transition: all 0.8s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  &:hover {
    border: 1px solid $very-dark-blue;
    opacity: 1;
  }
  p {
    color: $bright-orange;
    text-shadow:1px 1px 1px $very-dark-blue;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50%;
    margin-left: 10px;
  }
}
.card {
  height: 379px;
  width: 300px;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: $very-dark-blue;
  box-shadow: 0 70px 63px -60px $very-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.profession {
  display: flex;
  flex-direction: column;
  span {
    color: $bright-orange;
    text-shadow: 1px 1px 1px $very-dark-blue;
    font-size: 20px;
    font-weight: 700;
    width: 130px;
    margin-top: 10%;
  }
  button {
    padding: 5px 0 10px 0;
    border: 2px solid $bright-orange;
    border-radius: 20px;
    font-size: 20px;
    width: 171px;
    background: $very-dark-blue;
    color: $white;
    margin-top: 15%;
    &:hover {
      color: $very-dark-blue;
      background: $moderate-orange2;
      border: 2px solid $bright-orange;
    }
    &:active {
      border: 3px solid $bright-red;
    }
  }
}
.first {
  background: url("./Mas1.png") center center no-repeat;
  background-size: 379px;
  &:hover {
    background: url('./Mas1.png') left center no-repeat;
    background-size: 600px;
  }
}
.second {
  background: url("./Mas2.png") center center no-repeat;
  background-size: 379px;
  &:hover {
    background: url('./Mas2.png') left center no-repeat;
    background-size: 600px;
  }
}
.third {
  background: url("./Mas3.png") center center no-repeat;
  background-size: 379px;
  &:hover {
    background: url('./Mas3.png') left center no-repeat;
    background-size: 600px;
  }
}
.fourth {
  background: url("./Mas4.png") center center no-repeat;
  background-size: 379px;
  &:hover {
    background: url('./Mas4.png') left center no-repeat;
    background-size: 600px;
  }
}
.fifth {
  background: url("./Mas5.png") center center no-repeat;
  background-size: 379px;
  &:hover {
    background: url('./Mas5.png') left center no-repeat;
    background-size: 600px;
  }
}
.sixth {
  background: url("./Mas6.png") center center no-repeat;
  background-size: 379px;
  &:hover {
    background: url('./Mas6.png') left center no-repeat;
    background-size: 600px;
  }
}
