$dark-blue: #202125;
$dark-salt: #191d1c;
$grayish-blue: #434343;
$white: #ffffff;
$soft-blue: #8ab4f8;
$soft-blue2: #5383ed;
$silver: rgba(255, 255, 255, .5);
$soft-yellow: #f7d775;
$bright-orange: #edae3b;
$moderate-orange2: rgb(186, 138, 76, .4);
$bright-red: #FE2E2E;
$lime-green: #4fa19d;

.container {
  width: 70vw;
  height: 65vh;
  margin: 0 auto;
  padding: 110px 50px;
  background: $lime-green;
  border-radius: 20px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
  .wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
  .text {
    text-align: left;
    margin-bottom: 10px;
    color: $dark-salt;
    font-weight: 700;
    font-size: 20px;
  }
  .containerSignature {
    margin-bottom: 20px;
    margin-top: -40px;
  }
  .containerAddress {
    margin-top: 20px;
  }
}












