.partners {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto 20vh;
}
.partners ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.partners ul li {
  width: 25%;
}