.wrap {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}
.about {
  margin: 160px auto 30px;
  min-width: 320px;
  max-width: 700px;
  width: 90%;
  text-align: center;
}
.about span {
  display: block;
  margin-bottom: 30px;
}
.about p {
  padding-bottom: 30px;
  font-size: 20px;
  overflow: auto;
  letter-spacing: 1px;
  line-height: 1.6;
}
.about p:last-child {
  margin-bottom: 15px;
}

@media screen and (max-width: 720px) {
  .about svg {
    width: 44px;
    height: 44px;
  }
}