@charset "UTF-8";
.section {
  width: 440px;
  margin: 0 auto;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  transition: all 200ms linear;
}
a:hover {
  text-decoration: none;
}

.link {
  color: #ffffff;
}
.link:hover {
  color: #edae3b;
}

p {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
  margin-left: 85px;
}

h4 {
  font-weight: 600;
  font-size: 20px;
  margin-left: 65px;
  text-transform: uppercase;
}

.logIn {
  margin-top: 100px;
  margin-bottom: 30px;
  color: #edae3b;
  z-index: 1;
}

.singUp {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #4fa19d;
}

h6 {
  margin-bottom: 30px;
}

h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  transition: all 1s ease;
}
h6 span:first-child:hover {
  color: #edae3b;
}
h6 span:last-child:hover {
  color: #4fa19d;
}

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 10px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #8ab4f8;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #8ab4f8;
  background-color: #434343;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  content: "↑";
  z-index: 2;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 1s ease;
}

.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-360deg);
}

.card3dWrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}

.card3dWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: all 1s ease-out;
}

.cardFront, .cardBack {
  width: 100%;
  height: 100%;
  background-color: #434343;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.cardBack {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .card3dWrap .card3dWrapper {
  transform: rotateY(180deg);
}

.centerWrap {
  position: absolute;
  z-index: 1;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  display: block;
}

.centerWrapBlock {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.formGroup {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  padding: 0;
}
.formGroup input {
  margin-bottom: 10px;
}

.formStyle {
  padding: 13px 20px 0 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #ffffff;
  background-color: #202125;
  border: none;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.formStyle:focus,
.formStyle:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.inputIcon {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
}

.emailIcon div svg {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}

.backUserIcon div svg {
  width: 27px;
  height: 27px;
}

.btn {
  border-radius: 10px;
  height: 44px;
  text-transform: uppercase;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #8ab4f8;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  color: #191d1c;
  z-index: 1;
}

.btn:active,
.btn:focus {
  background-color: #edae3b;
  color: #ffffff;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  background-color: #edae3b;
  color: #ffffff;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.frontSubmit {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: -75px;
}

.backSubmit {
  margin-bottom: 20px;
  margin-right: -75px;
  margin-top: 20px;
}
.backSubmit:hover {
  background-color: #4fa19d;
}

@media screen and (max-width: 720px) {
  .section {
    width: 300px;
    margin: 0 auto;
  }
  .frontSubmit {
    margin-right: 75px;
  }
  .backSubmit {
    margin-right: 75px;
  }
  h4 {
    margin-left: -65px;
  }
  .wrapLink {
    margin-left: -60px;
  }
  .formGroup {
    margin-left: -10px;
    width: 174px;
  }
}

/*# sourceMappingURL=FormAuthorization.module.css.map */
