$dark-blue: #202125;
$dark-salt: #191d1c;
$grayish-blue: #434343;
$white: #ffffff;
$soft-blue: #8ab4f8;
$soft-blue2: #5383ed;
$silver: rgba(255, 255, 255, .5);
$soft-yellow: #f7d775;
$bright-orange: #edae3b;
$moderate-orange2: rgb(186, 138, 76, .4);
$bright-red: #FE2E2E;
$lime-green: #4fa19d;

.section {
  width: 440px;
  margin: 0 auto;
  box-sizing: border-box;
  h6 {
    margin-bottom: 30px;
    span {
      padding: 0 20px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 22px;
      transition: all 1s ease;
      &:first-child:hover {
        color: $bright-orange;
      }
      &:last-child:hover {
        color: $lime-green;
      }
    }
  }
}
a {
  cursor: pointer;
  transition: all 200ms linear;
  &:hover {
    text-decoration: none;
  }
}
.link {
  color: $white;
  &:hover {
    color: $bright-orange;
  }
}
p {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.7;
  margin-left: 85px;
}
h4 {
  font-weight: 600;
  font-size: 20px;
  margin-left: 65px;
  text-transform: uppercase;
}
.logIn {
  margin-top: 100px;
  margin-bottom: 30px;
  color: $bright-orange;
  z-index: 1;
}
.singUp {
  margin-top: 30px;
  margin-bottom: 30px;
  color: $lime-green;
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  z-index: 1;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 10px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: $soft-blue;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: $soft-blue;
  background-color: $grayish-blue;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  content: '\2191';
  z-index: 1;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 1s ease;
}
.checkbox:checked + label:before {
  transform: translateX(44px) rotate(-360deg);
}
.card3dWrap {
  position: relative;
  z-index: 1;
  width: 440px;
  max-width: 100%;
  height: 400px;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  perspective: 800px;
  margin-top: 60px;
}
.card3dWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transition: all 1s ease-out;
}
.cardFront, .cardBack {
  width: 100%;
  height: 100%;
  background-color: $grayish-blue;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  left: 0;
  top: 0;
  transform-style: preserve-3d;//вот тут проблема!!!! не знаю как решить, /transform-style: flat; //с 2д работает но я хочу 3д и в сафари
  -webkit-transform: translate3d(0,0,0);
  backface-visibility: hidden;
}
.cardBack {
  transform: rotateY(180deg);
}
.checkbox:checked ~ .card3dWrap .card3dWrapper {
  transform: rotateY(180deg);
}
.centerWrap{
  position: absolute;
  z-index: 1;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  display: block;
}
.centerWrapBlock {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.formGroup {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  padding: 0;
  input {
    margin-bottom: 10px;
  }
}
.formStyle {
  padding: 13px 20px 0 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: $white;
  background-color: $dark-blue;
  border: none;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.formStyle:focus,
.formStyle:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.inputIcon {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 20px;
}
.emailIcon div svg {
  width: 30px;
  height: 30px;
  margin-top: 5px;
}
.backUserIcon div svg {
  width: 27px;
  height: 27px;
}
.btn {
  border-radius: 10px;
  height: 44px;
  text-transform: uppercase;
  padding: 0 30px;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $soft-blue;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  color: $dark-salt;
  z-index: 1;
}
.btn:active,
.btn:focus{
  background-color: $bright-orange;
  color: $white;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.btn:hover{
  background-color: $bright-orange;
  color: $white;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
.frontSubmit {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: -75px;
}
.backSubmit {
  margin-bottom: 20px;
  margin-right: -75px;
  margin-top: 20px;
  &:hover {
    background-color: $lime-green;
  }
}

@media screen and (max-width: 720px) {
  .section {
    width: 300px;
    margin: 0 auto;
  }
  .centerWrap{
    left: 5px;
  }
  .centerWrapBlock {
    width: 180px;
    z-index: 1;
  }
  .frontSubmit {
    margin-right: -45px;
  }
  .backSubmit {
    margin-right: -45px;
  }
  h4 {
    margin-left: 35px;
  }
  .wrapLink {
    margin-left: 25px;
    width: 100%;
  }
  .formGroup {
    margin-left: -10px;
    width: 174px;
  }
}