$dark-salt: #191d1c;
$white: #ffffff;
$soft-blue: #8ab4f8;
$soft-blue2: #5383ed;
$bright-red: #FE2E2E;

.wrap {
  padding-top: 40px;
  width: 90%;
  max-width: 700px;
  margin: 0 auto 10px;
  .timeBox {
    display: flex;
    text-align: center;
    background: $dark-salt;
    box-shadow: 0 8px 32px 0 $soft-blue2;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid $soft-blue;
    margin: 0 auto 40px;
    padding: 80px;
    .days,
    .hours,
    .minutes,
    .seconds  {
      font-size: 35px;
      color: $white;
      margin: 0 auto;
      padding: 20px;
      animation: animate 3s linear infinite;
      text-shadow: 0 0 50px $bright-red, 0 0 100px $bright-red, 0 0 150px $bright-red, 0 0 200px $bright-red;
      h3 {
        padding: 20px;
      }
    }
  }
}
.hours {
  animation-delay: 0.3s;
}
.minutes {
  animation-delay: 0.7s;
}
.seconds {
  animation-delay: 0.1s;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@media screen and (max-width: 700px) {
  .wrap {
    .timeBox {
      max-width: 300px;
      height: 600px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      .days,
      .hours,
      .minutes,
      .seconds {
        font-size: 25px;
      }
    }
  }
}
