$dark-blue: #202125;
$dark-salt: #191d1c;
$grayish-blue: #434343;
$white: #ffffff;
$soft-blue: #8ab4f8;
$soft-blue2: #5383ed;
$silver: rgba(255, 255, 255, .5);
$soft-yellow: #f7d775;
$bright-orange: #edae3b;
$moderate-orange2: rgb(186, 138, 76, .4);
$bright-red: #FE2E2E;
$lime-green: #4fa19d;

.wrap {
  padding-top: 200px;
  padding-bottom: 100px;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  h2 {
    margin-bottom: 30px;
    color: $bright-orange;
  }
  p {
    margin-bottom: 30px;
    color: $bright-red;
  }
  .buttonSubmit {
    margin-top: -15%;
  }
}