$dark-blue: #202125;
$dark-salt: #191d1c;
$grayish-blue: #434343;
$white: #ffffff;
$silver: rgba(255, 255, 255, .5);
$bright-red: #FE2E2E;

.infoBlock {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  margin-bottom: 70px;
  .infoImage {
    width: 50%;
    margin-bottom: 45px;
    min-width: 300px;
    height: 350px;
    img {
      border-radius: 10px;
      box-shadow: 0 8px 32px 0 #5383ed;
    }
  }
  .infoDetails {
    width: 50%;
    text-align: left;
  }
}

details > summary {
  padding: 10px;
  color: $white;
  cursor: pointer;
  border-radius: 10px;
  background: $grayish-blue;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
  text-align: center;
  font-size: 18px;
}
details > p {
  padding: 20px 0 170px 0;
  overflow: scroll;
  max-height: 60px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}
.price {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}
.price > span {
  padding: 10px 0 15px 0;
  overflow: auto;
  font-size: 30px;
  color: $bright-red;
}
details[open] > summary {
  background-color: $dark-salt;
}
summary:before {
  content: "";
  margin-left: 15px;
}
.currency {
  margin-left: 10px;
  font-size: 16px;
  color: $bright-red;
}

@media screen and (max-width: 900px) {
    .infoBlock {
      display: flex;
      flex-wrap: wrap;
      min-width: 320px;
      gap: 5vh;
      .infoImage {
        width: 100%;
        margin-bottom: 10px;
      }
      .infoDetails {
        width: 100%;
        margin-bottom: 30px;
      }
    }

  details > p {
    max-height: 60px;
  }
}
