$bright-orange: #edae3b;
.wrapDescription {
  max-width: 90%;
  margin: 0 auto 10vh;
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 1px;
  color: $bright-orange;
  text-align: center;
  line-height: 6vh;
}