$soft-blue2: #5383ed;
$white: #ffffff;
$dark-salt: #191d1c;
$grayish-blue: #434343;
$bright-red: #FE2E2E;
$dark-blue: #202125;
$dark-salt: #191d1c;
$grayish-blue: #434343;
$white: #ffffff;
$soft-blue: #8ab4f8;
$soft-blue2: #5383ed;
$silver: rgba(255, 255, 255, .5);
$soft-yellow: #f7d775;
$bright-orange: #edae3b;
$moderate-orange2: rgb(186, 138, 76, .4);
$bright-red: #FE2E2E;
$lime-green: #4fa19d;

.wrap {
  max-width: 900px;
  width: 90%;
  color: $white;
  margin-bottom: 60px;
  &:nth-child(even) {
    flex-direction: row-reverse;
    margin-right: -60px;
    margin-left: 60px;
    border-radius: 10px;
  }
  .wrapPost {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    background: $soft-blue2;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
    span {
      display: block;
    }
    .postNumber {
      font-size: 20px;
      font-weight: 700;
      padding: 20px 30px;
      background: black;
      flex: 0 0 auto;
      border-radius: 50%;
      color: white;
      display: flex;
      justify-content: center;
      margin: 20px;
    }
    .postContent {
      width: 100%;
      padding: 25px;
      .postContentHeader {
        text-shadow: 1px 1px 1px $grayish-blue;
        letter-spacing: 1px;
        color: $dark-salt;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
      }
      .postContentText {
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 1.6;
      }
      .less {
        cursor: pointer;
        color: $dark-salt;
        text-shadow: 4px 4px 4px #333333;
        font-weight: bold;
        font-size: 18px;
        padding-top: 20px;

      }
      .more {
        color: $bright-orange;
        text-shadow: 4px 4px 4px #333333;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
        padding-top: 20px;
      }
    }
  }
}
