$very-dark-blue: #202125;
$grayish-blue: #434343;
$white: #ffffff;
$bright-orange: #edae3b;
$bright-red: #FE2E2E;
$soft-blue2: #5383ed;
$moderate-orange2: rgb(186, 138, 76, .4);
$dark-salt: #191d1c;
$bright-orange: #edae3b;

.block {
  padding-top: 200px;
  padding-bottom: 100px;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  .explanation {
    display: block;
    color: $bright-orange;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 100px;
    line-height: 35px;
  }
}

