$border-color: rgba(255, 255, 255, .5);
$highlight-color: #BA8A4C;
.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  padding-bottom: 30px;
  gap: 30px;
  .contacts, .working-mode, .social {
    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }
    ul {
      margin-top: 20px;
    }
    ul li {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      a {
        text-decoration: none;
        &:hover {
          color: $highlight-color;
        }
      }
    }
  }
  .contacts {
    text-align: center;
  }
  .mode {
    ul {
      margin-top: 20px;
    }
  }
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg {
      margin-top: 20px;
      &:hover {
        stroke: $highlight-color;
        fill: $highlight-color;
      }
    }
  }
}
.border {
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  max-width: 1300px;
  width: 100%;
  padding-top: 20px;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  span {
    font-weight: 700;
    font-size: 16px;
    font-style: italic;
  }
}

.wrap {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 720px) {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}