$highlight-color: black;
$color-text: rgba(186, 138, 76);
$color-text2: white;
$active: #FE2E2E;

.modalApp {
  text-align: center;
  padding-top: 2rem;
}
.modal {
  z-index: 100;
  background: $color-text;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  min-width: 320px;
  width: 70%;
  padding: 2rem;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}
.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.modal-header {
  display: flex;
  justify-content: flex-end;
}
.modal-close-button {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  color: $active;
  position: relative;
  top: -20px;
  right: -25px;
}
button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: -5px;
}
.button-default {
  background: #247BA0;
  color: #fff;
  svg {
    position: relative;
    top: 5px;
    left: 5px;
  }
}