@charset "UTF-8";
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 3vh 5vh 3vh;
}
.wrapper .container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 5px 1px rgba(255, 255, 255, 0.5);
  background: #ffffff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  margin: 1em auto;
  min-height: 350px;
  max-width: 600px;
  width: 100%;
}
.wrapper .container .block {
  padding-top: 20vh;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
}
.wrapper .container .block h2 {
  text-align: center;
  font-weight: 700;
  font-size: 58px;
}
.wrapper .container .wrapBlock {
  max-height: 100px;
  overflow: hidden;
  order: 0;
  margin-bottom: 10px;
}
.wrapper .container .checkbox {
  display: none;
}
.wrapper .container .checkbox:checked + .wrapBlock {
  height: auto;
}
.wrapper .container .link {
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}
.wrapper .container .link:hover {
  text-decoration: none;
}
.wrapper .container label {
  order: 1;
  color: #5383ed;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
}
.wrapper .container .productDetails {
  width: 50%;
  background: #8ab4f8;
  will-change: transform;
}
.wrapper .container .productDetails::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(30deg, #f7d775, #5383ed, #FE2E2E, #4fa19d, #f7d775, #5383ed, #FE2E2E, #4fa19d);
  background-size: 300% 300%;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  z-index: -1;
}
.wrapper .container .productDetails h4 {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 15px;
  height: 12vh;
  width: 95%;
  font-size: 24px;
  color: #191d1c;
  overflow: scroll;
}
.wrapper .container .productDetails p {
  margin: 0 10px 0 10px;
  color: #191d1c;
  font-size: 18px;
  width: 95%;
  overflow: hidden;
  height: 25vh;
}
.wrapper .container .productDetails .more {
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  width: 75px;
  background: #191d1c;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 24%;
  top: 60%;
}
.wrapper .container .productDetails .more svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.wrapper .container .productImage {
  transition: all 0.5s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 50%;
}
.wrapper .container .productImage img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
  cursor: pointer;
}
.wrapper .container .productImage img:hover {
  transform: scale(1.5, 1.5);
}
.wrapper .container .productImage::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(30deg, #f7d775, #5383ed, #FE2E2E, #4fa19d, #f7d775, #5383ed, #FE2E2E, #4fa19d);
  background-size: 300% 300%;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  z-index: -1;
}
.wrapper .container .productImage:hover .info {
  transform: translateX(0);
}
.wrapper .container .control {
  position: absolute;
  left: 25%;
}
.wrapper .container .btn {
  transform: translateY(0px);
  transition: 0.3s linear;
  background: #4fa19d;
  border-radius: 10px;
  position: relative;
  top: 0;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
  padding: 0;
  margin-bottom: 20px;
}
.wrapper .container .btn:hover {
  transform: translateY(-4px);
}
.wrapper .container .btn span {
  transition: transform 0.3s;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0;
}
.wrapper .container .btn .price, .wrapper .container .shoppingCart {
  background: #191d1c;
  border: 0;
  margin: 0;
}
.wrapper .container .btn .price {
  transform: translateX(-10%);
  padding-right: 10px;
}
.wrapper .container .btn .shoppingCart {
  transform: translateX(-100%);
  position: absolute;
  background: #191d1c;
  z-index: 1;
  left: 0;
  top: 0;
}
.wrapper .container .btn .buy {
  z-index: 3;
  font-weight: bolder;
}
.wrapper .container .btn:hover .price {
  transform: translateX(-110%);
}
.wrapper .container .btn:hover .shoppingCart {
  transform: translateX(0%);
}
.wrapper .supportingBlock {
  display: flex;
  justify-content: space-between;
  width: 700px;
}

@media screen and (max-width: 720px) {
  .wrapper .container {
    display: flex;
    flex-direction: column;
  }
  .wrapper .container .productImage {
    width: 100%;
    min-height: 65%;
    order: -1;
  }
  .wrapper .container .productDetails {
    width: 100%;
    min-height: 300px;
    padding-bottom: 30px;
  }
  .wrapper .container .productDetails .more {
    left: 34%;
  }
  .wrapper .container .control {
    left: 35%;
  }
  .wrapper .btn {
    top: -30px;
  }
}
@media screen and (max-width: 500px) {
  .container .productImage {
    width: 100%;
    min-height: 58%;
  }
  .container .productDetails .more {
    left: 29%;
  }
  .container .control {
    left: 30%;
  }
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #edae3b;
  padding: 10px;
  border-radius: 10px;
  margin: 0 63px 60px 63px;
}
.form .formSortSearch {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.form .formSortSearch fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}
.form .formSortSearch fieldset .label {
  display: block;
  order: 0;
  padding-left: 10px;
  color: #202125;
  font-weight: bold;
  width: 100%;
}
.form .formSortSearch fieldset .iconWrap {
  position: relative;
  top: 20px;
  width: 20px;
  height: 20px;
}
.form .formSortSearch fieldset .selectSort {
  width: 100%;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  appearance: none;
  overflow: hidden;
  background: #434343 url("../../BLL/img/Goods/arrow.svg") no-repeat 98% 10px;
  background-size: 20px auto;
  outline: none;
}
.form .formSortSearch fieldset .selectSort:active, .form .formSortSearch fieldset .selectSort :hover, .form .formSortSearch fieldset .selectSort :focus {
  outline: 0;
  outline-offset: 0;
}
.form .formSortSearch fieldset .selectSearch {
  background: #434343;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  border: none;
  float: left;
  color: #ffffff;
  padding: 10px 10px 11px 20px;
  border-radius: 10px;
  outline: none;
  position: relative;
}
.form .formSortSearch fieldset .selectSearch::placeholder {
  color: #ffffff;
}
.form .formSortSearch fieldset .selectSearch:active, .form .formSortSearch fieldset .selectSearch :hover, .form .formSortSearch fieldset .selectSearch :focus {
  outline: 0;
  outline-offset: 0;
}
.form .formSortSearch .formSort {
  margin-top: 45px;
  margin-bottom: 30px;
}
.form .formSortSearch .formSearch {
  margin-top: 30px;
}
.form .formCheckbox {
  width: 50%;
  background: #edae3b;
  padding: 20px;
  border-radius: 10px;
}
.form .formCheckbox .labelCheckbox {
  color: #202125;
  padding-left: 20px;
  font-weight: bold;
}
.form .formCheckbox .fieldsetCheckbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: none;
}
.form .formCheckbox .fieldsetCheckbox .checkBlockOne, .form .formCheckbox .fieldsetCheckbox .checkBlockTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form .formCheckbox .fieldsetCheckbox .checkBlockOne .checkPrice, .form .formCheckbox .fieldsetCheckbox .checkBlockTwo .checkPrice {
  display: block;
}
.form .formCheckbox .fieldsetCheckbox .checkBlockOne .checkForWhat, .form .formCheckbox .fieldsetCheckbox .checkBlockTwo .checkForWhat {
  display: block;
}
.form .formCheckbox .fieldsetCheckbox .checkBlockOne .checkLabel, .form .formCheckbox .fieldsetCheckbox .checkBlockTwo .checkLabel {
  display: flex;
  color: #ffffff;
  margin-bottom: 10px;
}
.form .formCheckbox .fieldsetCheckbox .checkBlockOne .checkLabel input, .form .formCheckbox .fieldsetCheckbox .checkBlockTwo .checkLabel input {
  margin-right: 10px;
}
.form .formCheckbox .fieldsetCheckbox .checkBlockOne .checkLabel span, .form .formCheckbox .fieldsetCheckbox .checkBlockTwo .checkLabel span {
  display: block;
}

[type=search]::-webkit-search-cancel-button {
  appearance: none;
  height: 20px;
  width: 20px;
  background: url("../../BLL/img/Goods/cross.svg") no-repeat;
  background-size: 30px 30px;
}

input[type=checkbox] {
  position: relative;
  margin-right: 10px;
  line-height: 14px;
  font-size: 25px;
  cursor: pointer;
}
input[type=checkbox]:before {
  position: absolute;
  top: 4px;
  content: "";
  height: 15px;
  width: 15px;
  border: 1px solid #434343;
  background: #434343;
  border-radius: 3px;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
input[type=checkbox]:checked:before {
  content: "✔";
  color: #ffffff;
}
input[type=checkbox]:hover:before {
  border: 1px solid #ffffff;
}

@media screen and (max-width: 720px) {
  .form {
    display: flex;
    flex-direction: column;
    margin: 0 10px 10px 10px;
  }
  .form .formSortSearch {
    width: 100%;
  }
  .form .formCheckbox {
    width: 90%;
  }
  .form fieldset {
    width: 100%;
  }
}

/*# sourceMappingURL=GoodsCard.module.css.map */
