$very-dark-blue: #202125;
$grayish-blue: #434343;
$white: #ffffff;
$bright-orange: #edae3b;
$bright-red: #FE2E2E;
$soft-blue2: #5383ed;
$moderate-orange2: rgb(186, 138, 76, .4);
$dark-salt: #191d1c;
$bright-orange: #edae3b;

.cardmaster {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  .cardmasterWrap {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: left;
    .wrapCard {
      height: 100%;
      width: 300px;
      border-radius: 10px;
      transition: background 0.8s;
      overflow: hidden;
      box-shadow: 0 70px 63px -60px $very-dark-blue;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      .wrapBlock {
        position: relative;
        height: 400px;
        .profession {
          position: relative;
          z-index: 1;
          top: -180px;
          left: 30px;
          display: flex;
          flex-direction: column;
          .professionTitle {
            color: $bright-orange;
            text-shadow: 1px 1px 1px $very-dark-blue;
            font-size: 20px;
            font-weight: 700;
            width: 130px;
            margin-top: 10%;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
