$dark-salt: #191d1c;
$grayish-blue: #434343;
$white: #ffffff;
$silver: rgba(255, 255, 255, .5);
$bright-red: #FE2E2E;

.wrap {
  padding-top: 20vh;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3vh;
  .infoDescr {
    display: flex;
    flex-direction: row;
    gap: 10vh;
    width: 100%;
    .infoImage {
      width: 50%;
      margin-bottom: 15vh;
      min-width: 300px;
      height: 350px;
      img {
        border-radius: 10px;
        box-shadow: 0 8px 32px 0 #5383ed;
      }
    }
    .infoDetails {
      width: 50%;
      text-align: left;
    }
  }
}

details > summary {
  padding: 10px;
  color: $white;
  cursor: pointer;
  border-radius: 10px;
  background: $grayish-blue;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
  text-align: center;
  font-size: 18px;
}
details > p {
  padding: 5vh 0 12vh 0;
  overflow: scroll;
  max-height: 25vh;
  font-size: 16px;
  color: $silver;
  line-height: 31px;
}
details > span {
  padding: 5vh 0 2vh 0;
  overflow: scroll;
  font-size: 30px;
  color: $bright-red;
}
details[open] > summary {
  background-color: $dark-salt;
}
summary:before {
  content: "";
  margin-left: 15px;
}
.currency {
  margin-left: 10px;
  font-size: 16px;
  color: $bright-red;
}

@media screen and (max-width: 900px) {
  .wrap {
    .infoDescr {
      display: flex;
      flex-direction: column;
      .infoImage {
        width: 100%;
        margin-bottom: 1vh;
      }
      .infoDetails {
        width: 100%;
        margin-bottom: 15vh;
      }
    }
  }

  details > p {
    max-height: 35vh;
  }
}


