$dark-blue: #202125;
$dark-salt: #191d1c;
$grayish-blue: #434343;
$white: #ffffff;
$silver: rgba(255, 255, 255, .5);
$bright-red: #FE2E2E;

.wrap {
  padding-top: 20vh;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3vh;
}



