$dark-blue: #202125;
$dark-salt: #191d1c;
$grayish-blue: #434343;
$white: #ffffff;
$soft-blue: #8ab4f8;
$soft-blue2: #5383ed;
$silver: rgba(255, 255, 255, .5);
$soft-yellow: #f7d775;
$bright-orange: #edae3b;
$moderate-orange2: rgb(186, 138, 76, .4);
$bright-red: #FE2E2E;
$lime-green: #4fa19d;

.wrap {
  position: relative;
  margin-bottom: 50px;
  .input {
    padding: 10px 15px;
    border: 2px solid $lime-green;
    font-size: 1rem;
    font-weight: 700;
    min-width: 320px;
    border-radius: 10px;
    background: $white;
    &:focus {
      border-color: $bright-red;
      outline: none;
    }
  }
}

.suggestion {
  position: absolute;
  top: 0;
  transform: translateY(39px);
  background: $white;
  border: 2px solid $dark-blue;
  width: 100%;
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.listItem {
  padding: 10px 15px;
  cursor: pointer;
  color: black;
  &:hover {
    background: $white;
  }
}