body {
  background-color: black;
  color: silver;
  font-family: 'Cormorant Garamond', serif;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.wrap {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}