$dark-blue: #202125;
$dark-salt: #191d1c;
$grayish-blue: #434343;
$white: #ffffff;
$soft-blue: #8ab4f8;
$soft-blue2: #5383ed;
$silver: rgba(255, 255, 255, .5);
$soft-yellow: #f7d775;
$bright-orange: #edae3b;
$moderate-orange2: rgb(186, 138, 76, .4);
$bright-red: #FE2E2E;
$lime-green: #4fa19d;


body {
  background-color: $dark-blue;
  color: $white;
  font-family: 'Cormorant Garamond', serif;
}
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-track {
  background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}
body::-webkit-scrollbar-thumb {
  background: #434343;
  border-radius: 16px;
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.wrap {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

