$very-dark-blue: #202125;
$white: #ffffff;
$bright-orange: #edae3b;
$bright-red: #FE2E2E;
$soft-blue2: #5383ed;
$dark-salt: #191d1c;
$soft-blue: #8ab4f8;

.modalApp {
  text-align: center;
}
.modal {
  z-index: 100;
  background: $dark-salt;
  box-shadow: 0 8px 32px 0 $soft-blue2;
  backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid $soft-blue;
  position: relative;
  margin: 1.75rem auto;
  min-width: 320px;
  width: 70%;
  padding: 2rem;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: $very-dark-blue;
  opacity: .5;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}
.header {
  display: flex;
  justify-content: flex-end;
}
.close {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  color: $bright-red;
  position: relative;
  top: -20px;
  right: -25px;
}
button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: -5px;
}
.default {
  background: $soft-blue2;
  color: $white;
  svg {
    position: relative;
    top: 5px;
    left: 5px;
  }
}