.wrap {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}
.background {
  background: url("../../BLL/img/General/Hbg.png") center/cover no-repeat;
  height: 75vh;
  width: 100%;
  position: relative;
  top: 120px;
  z-index: -1;
  margin-bottom: 10vh;
}
.background h1 {
  text-align: center;
  margin: 0 auto;
  padding-top: 30vh;
  font-weight: 700;
  line-height: 120%;
  font-size: 85px;
  max-width: 60%;
  font-family: "Dahlia", serif;
}
@media screen and (max-width: 720px) {
  .background-nav h1 {
    text-align: center;
    padding-top: 40vh;
    line-height: 120%;
    font-size: 45px;
    max-width: 60%;
  }
}


