.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.block {
  padding-top: 20vh;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10vh;
}
.block h2 {
  text-align: center;
  font-weight: 700;
  font-size: 58px;
}

.wrapBlock {
  max-height: 100px;
  overflow: hidden;
  order: 0;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + .wrapBlock {
  height: auto;
}

label {
  order: 1;
  color: #5383ed;
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 15px 30px 1px #434343;
  background: #ffffff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  margin: 1em auto;
  min-height: 350px;
  max-width: 600px;
  width: 100%;
}

.productDetails {
  width: 50%;
  background: #8ab4f8;
  will-change: transform;
}
.productDetails::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(30deg, #f7d775, #5383ed, #FE2E2E, #4fa19d, #f7d775, #5383ed, #FE2E2E, #4fa19d);
  background-size: 300% 300%;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  z-index: -1;
}
.productDetails h4 {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 13px;
  height: 13vh;
  width: 95%;
  font-size: 24px;
  color: #191d1c;
  overflow: scroll;
}
.productDetails p {
  margin: 0 10px 0 10px;
  color: #191d1c;
  font-size: 18px;
  width: 95%;
  overflow: scroll;
  height: 25vh;
}
.productDetails .more {
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  width: 75px;
  background: #191d1c;
  box-shadow: inset 2px 2px 2px hsla(0deg, 0%, 100%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  left: 24%;
  top: 60%;
}
.productDetails .more svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.productImage {
  transition: all 0.5s ease-out;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100%;
  float: right;
  width: 50%;
}
.productImage img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
}
.productImage img:hover {
  transform: scale(1.5, 1.5);
}
.productImage::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(30deg, #f7d775, #5383ed, #FE2E2E, #4fa19d, #f7d775, #5383ed, #FE2E2E, #4fa19d);
  background-size: 300% 300%;
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  z-index: -1;
}

.productImage:hover .info {
  transform: translateX(0);
}

.control {
  position: absolute;
  left: 25%;
  top: 80%;
}

.btn {
  transform: translateY(0px);
  transition: 0.3s linear;
  background: #4fa19d;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #ffffff;
  padding: 0;
  margin-bottom: 20px;
}
.btn:hover {
  transform: translateY(-4px);
}
.btn span {
  transition: transform 0.3s;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 0;
}

.btn .price, .shoppingCart {
  background: #191d1c;
  border: 0;
  margin: 0;
}

.btn .price {
  transform: translateX(-10%);
  padding-right: 10px;
}

.btn .shoppingCart {
  transform: translateX(-100%);
  position: absolute;
  background: #191d1c;
  z-index: 1;
  left: 0;
  top: 0;
}

.btn .buy {
  z-index: 3;
  font-weight: bolder;
}

.btn:hover .price {
  transform: translateX(-110%);
}

.btn:hover .shoppingCart {
  transform: translateX(0%);
}

@media screen and (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .container .productImage {
    width: 100%;
    min-height: 65%;
  }
  .container .productDetails {
    width: 95%;
    min-height: 300px;
    padding-bottom: 30px;
  }
  .container .productDetails .more {
    left: 34%;
  }
  .container .control {
    left: 35%;
  }
}
@media screen and (max-width: 500px) {
  .container .productImage {
    width: 100%;
    min-height: 58%;
  }
  .container .productDetails .more {
    left: 29%;
  }
  .container .control {
    left: 30%;
  }
}

/*# sourceMappingURL=Goods.module.css.map */
